<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5066 sha256=de01262eb389cdaa6876c3800cba2fda87aedd5f79747c0774a96bb7442147ed
  Stored in directory: /Users/manuelhenao/Library/Caches/pip/wheels/be/62/c8/71e1b48f4758ea5b78af7595d87178f628cde315a3326610ee
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [3]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [5]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [7]:
some_list = r.generate_users(10)

In [9]:
some_list

[<randomuser.RandomUser at 0x138bd4530>,
 <randomuser.RandomUser at 0x138bd4590>,
 <randomuser.RandomUser at 0x138bd45f0>,
 <randomuser.RandomUser at 0x138bd4650>,
 <randomuser.RandomUser at 0x138bd45c0>,
 <randomuser.RandomUser at 0x138bd4710>,
 <randomuser.RandomUser at 0x138bd46e0>,
 <randomuser.RandomUser at 0x138bd4770>,
 <randomuser.RandomUser at 0x138bd4680>,
 <randomuser.RandomUser at 0x138bd4800>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [15]:
name = r.get_full_name()
name

'Bob Davis'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [17]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Madeleine Berger   madeleine.berger@example.com
Davut Sinanoğlu   davut.sinanoglu@example.com
Cathy Ford   cathy.ford@example.com
Zowie Khalil   zowie.khalil@example.com
Savannah Mendoza   savannah.mendoza@example.com
Fredrik Fløysvik   fredrik.floysvik@example.com
تینا سلطانی نژاد   tyn.sltnynjd@example.com
غزل حسینی   gzl.hsyny@example.com
Mirella Henry   mirella.henry@example.com
رونیکا محمدخان   rwnykh.mhmdkhn@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [25]:
## Write your code here
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/women/2.jpg
https://randomuser.me/api/portraits/men/96.jpg
https://randomuser.me/api/portraits/women/49.jpg
https://randomuser.me/api/portraits/men/93.jpg
https://randomuser.me/api/portraits/women/36.jpg
https://randomuser.me/api/portraits/men/4.jpg
https://randomuser.me/api/portraits/women/25.jpg
https://randomuser.me/api/portraits/women/67.jpg
https://randomuser.me/api/portraits/women/92.jpg
https://randomuser.me/api/portraits/women/11.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [27]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [29]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Annejet Kuijsters,female,Opijnen,Zeeland,annejet.kuijsters@example.com,1950-03-08T04:11:05.851Z,https://randomuser.me/api/portraits/women/92.jpg
1,Brooklyn Anderson,female,Palmerston North,Taranaki,brooklyn.anderson@example.com,1964-12-29T09:22:20.132Z,https://randomuser.me/api/portraits/women/2.jpg
2,Gaetano Picard,male,Develier,Valais,gaetano.picard@example.com,1977-11-27T05:53:05.858Z,https://randomuser.me/api/portraits/men/85.jpg
3,Mélody Brunet,female,Courbevoie,Ariège,melody.brunet@example.com,1962-12-17T22:52:41.425Z,https://randomuser.me/api/portraits/women/57.jpg
4,Martin Jairam,male,Pernis Rotterdam,Utrecht,martin.jairam@example.com,1965-04-11T15:34:37.085Z,https://randomuser.me/api/portraits/men/85.jpg
5,Charlotte Patel,female,Lower Hutt,Otago,charlotte.patel@example.com,1977-07-08T13:19:37.277Z,https://randomuser.me/api/portraits/women/32.jpg
6,Akram Sollie,male,Lindås,Sør-Trøndelag,akram.sollie@example.com,1973-12-19T23:01:14.642Z,https://randomuser.me/api/portraits/men/80.jpg
7,Marilou Novak,female,Chatham,Alberta,marilou.novak@example.com,1970-01-06T17:57:26.889Z,https://randomuser.me/api/portraits/women/96.jpg
8,Sven Moreau,male,Vucherens,Appenzell Ausserrhoden,sven.moreau@example.com,1944-10-09T14:35:16.519Z,https://randomuser.me/api/portraits/men/89.jpg
9,Anna Lynch,female,Westminster,Rutland,anna.lynch@example.com,1954-11-01T15:54:00.417Z,https://randomuser.me/api/portraits/women/50.jpg

In [31]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [41]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [51]:
data = requests.get("https://fruityvice.com/api/fruit/all")
data

We will retrieve results using `json.loads()` function.

In [49]:
results = json.loads(data.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

We will convert our json data into *pandas* data frame.

In [47]:
pd.DataFrame(results)

NameError: name 'results' is not defined

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [53]:
df2 = pd.json_normalize(results)

NameError: name 'results' is not defined

In [55]:
df2

NameError: name 'df2' is not defined

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [ ]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [59]:
# Write your code here
get_url = 'https://official-joke-api.appspot.com/jokes/ten'
data2 = requests.get(get_url)
data2

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [61]:
# Write your code here
results2 = json.loads(data2.text)
results2

[{'type': 'general',
  'setup': 'I just watched a documentary about beavers.',
  'punchline': 'It was the best dam show I ever saw',
  'id': 40},
 {'type': 'general',
  'setup': 'What did the ocean say to the beach?',
  'punchline': 'Thanks for all the sediment.',
  'id': 178},
 {'type': 'general',
  'setup': 'What did the judge say to the dentist?',
  'punchline': 'Do you swear to pull the tooth, the whole tooth and nothing but the tooth?',
  'id': 174},
 {'type': 'general',
  'setup': 'How do you make a hankie dance?',
  'punchline': 'Put a little boogie in it.',
  'id': 127},
 {'type': 'general',
  'setup': 'Can a kangaroo jump higher than the Empire State Building?',
  'punchline': "Of course. The Empire State Building can't jump.",
  'id': 80},
 {'type': 'general',
  'setup': 'Where do bees go to the bathroom?',
  'punchline': 'The BP station.',
  'id': 284},
 {'type': 'general',
  'setup': 'Why did the man run around his bed?',
  'punchline': 'Because he was trying to catch up on his sleep!',
  'id': 329},
 {'type': 'general',
  'setup': 'How good are you at Power Point?',
  'punchline': 'I Excel at it.',
  'id': 128},
 {'type': 'general',
  'setup': 'What did the mountain climber name his son?',
  'punchline': 'Cliff.',
  'id': 177},
 {'type': 'general',
  'setup': 'How many seconds are in a year?',
  'punchline': '12. January 2nd, February 2nd, March 2nd, April 2nd.... etc',
  'id': 142}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [69]:
# Write your code here
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3

,setup,punchline
0,I just watched a documentary about beavers.,It was the best dam show I ever saw
1,What did the ocean say to the beach?,Thanks for all the sediment.
2,What did the judge say to the dentist?,"Do you swear to pull the tooth, the whole toot..."
3,How do you make a hankie dance?,Put a little boogie in it.
4,Can a kangaroo jump higher than the Empire Sta...,Of course. The Empire State Building can't jump.
5,Where do bees go to the bathroom?,The BP station.
6,Why did the man run around his bed?,Because he was trying to catch up on his sleep!
7,How good are you at Power Point?,I Excel at it.
8,What did the mountain climber name his son?,Cliff.
9,How many seconds are in a year?,"12. January 2nd, February 2nd, March 2nd, Apri..."

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.